.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mainBreadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: whitesmoke;
}

.mainContainer li {
  margin: 20px;
}
