.row1 {
  margin-top: 30px;
  align-items: center;
  text-align: center;
}

.searchBarContainer {
  margin-left: 25%;
  margin-right: 25%;
}

.biologyTitle {
  align-items: center;
  text-align: center;
  background-color: #0dc167;
  color: #d0f6e3;
  height: 100px;
}
