html {
  background-color: #1e1f21;
}

.mainContainer {
  background-color: #1e1f21;
}

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.header1 {
  text-align: center;
  color: #d0f6e3;
}

.searchBar {
  margin-left: 50%;
}

.searchBarContainer {
  margin-left: 25%;
  margin-right: 25%;
}

@media only screen and (max-width: 600px) {
  .searchBarContainer {
    margin-left: 0;
    margin-right: 0;
  }
}

.gridButton {
  height: 190px;
  width: 100%;
  border-radius: 20px !important;
  font-size: 25px !important;
}

.gridButton:hover {
  background-color: #d0f6e3 !important;
  border-color: #d0f6e3 !important;
  color: #16212b !important;
}

.category {
  margin: 20px;
}
