.collapseContainer {
  vertical-align: middle;
  background-color: #5cdb95;
  border-radius: 7px;
}

.navBarContainer {
  height: 70px;
  background-color: #5cdb95;
}

.navItemsContainer {
  margin-left: auto;
  vertical-align: middle;
}

.navItem {
  margin-top: 12px;
  color: #05386b;
}

.navItemButton {
  background-color: #5cdb95 !important;
  color: #05386b !important;
  border-radius: 25px !important;
  border-style: none !important;
}

.navItemButton:hover {
  background-color: #d0f6e3 !important;
  color: #05386b !important;
}

.icon {
  fill: white;
}

.mainTitle {
  color: #05386b;
}
